.highlight:hover {
  background-color: white;
  font-size: 38px;
  cursor: pointer;
}
.bigtext {
  font-size:30px;
  text-align: center;
  background-color: #ffbcb8;
  font-family: "Lucida Console", monospace;
  width: 460px;
  height:150px;
}
.sidelines {
  border:10px solid #ffbcb8;
}
.smalltext {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.whitebox {
  padding: 20px;
  background-color: #ffffff;
}
.pinkbox {
  padding: 50px;
  background-color: #ffbcb8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
