body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
 font-family: "Lucida Console", "Courier New", monospace;
  padding: 0;
  width: 12%;
  background-color: #e6ffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #00b3b3;
  color: white;
}
li a.active2 {
  background-color: #248f8f;
  color: white;
}

li a:hover:not(.active) {
  background-color: #008080;
  color: white;
}


.highlight:hover {
  background-color: white;
  font-size: 38px;
  cursor: pointer;
}
.bigtext {
  font-size:30px;
  text-align: center;
  background-color: #e6ffff;
 font-family: "Lucida Console", "Courier New", monospace;
  width: 460px;
  height:150px;
}

.whitetext {
  font-size:30px;
  text-align: center;
  background-color: #80ffff;
 font-family: "Lucida Console", "Courier New", monospace;
  width: 460px;
  height:150px;
}

.sidelines {
  border:10px solid  #e6ffff;
}
.smalltext {
  font-size: 20px;
 font-family: "Lucida Console", "Courier New", monospace;
}
.whitebox {
  padding: 20px;
  background-color: #ffffff;
}
